# Qt files
*.o
*.[oa]
/Timer
Timer/
Sensoray/
Sensoray826/
analogbutter.cpp
analogbutter.h
electromagnet-calibration/

Makefile
*.qmake.stash
comm_stream.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
